<!DOCTYPE html>
<html>
<head>
    <title>Contact Form</title>
</head>
<body>

    <h2>Registration Form</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="email" id="email" name="email" placeholder="Enter your email" required>
        <br><br>
        <label for="password">Password:</label>
        <br>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
        <br><br>

        <input type="submit" value="Submit">

    </form>

</body>
</html>